.last-word {
  &:last-word {
    color: red;
  }
}

.btn-add-icon {
  background-color: orange;
  border-radius: 45px;
  padding: 3px 4px;
  font-size: 16px;
  cursor: pointer;
  i {
    color: white;
  }
}

body {
  font-size: large;
}
