.cv-header {
  display: grid;
  grid-template-columns: auto 1fr;
  .avatar {
    position: relative;
    width: 200px;
    padding-top: 100%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 2px orange solid;
    }
    input[type="file"] {
      display: none;
    }

    .overlay {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($color: #000000, $alpha: 0.5);
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      i.fa-camera {
        z-index: 2;
      }
    }

    &:hover .overlay {
      opacity: 1;
      cursor: pointer;
    }
  }

  .basic-information {
    display: grid;
    padding-left: 100px;
    .name {
      font-size: 64px;
      line-height: 1;
      font-weight: 700;
    }

    .title {
      font-size: 36px;
    }
  }
}
