<div class="cv-header">
  <div class="avatar">
    <img
      class="rounded-full"
      src="{{ imageSrc || userInfo.avatar }}"
      width="50"
      height="50"
    />
    <input
      type="file"
      name="image"
      (change)="onFileSelected($event)"
      id="avatar"
      accept="image/*"
    />
    <label for="avatar"
      ><div class="rounded-full overlay avatar-input">
        <i class="fas fa-2xl fa-camera fa-light text-white"></i></div
    ></label>
  </div>
  <div class="basic-information text-left">
    <div class="uppercase name last-word" [appLastWordColor]="color">
      {{ userInfo.name }}
    </div>
    <div class="title">{{ userInfo.title }}</div>
    <div class="general-information">
      <div><b>Birthday</b>: {{ userInfo.dob }}</div>
      <div><b>Email</b>: {{ userInfo.email }}</div>
      <div><b>Phone number</b>: {{ userInfo.phone }}</div>
    </div>
  </div>
</div>
