<div class="content-section-title">Experience</div>

<div class="list-company">
  <div *ngFor="let experience of companyInfo$ | async">
    <div class="font-bold">Developer for {{ experience.company }} Company</div>
    <div class="text-[#7f7f7f]">
      {{ experience.from | date : "MMMM y" }} -
      {{ experience.to ? (experience.to | date : "MMMM y") : "Present" }}
    </div>
    <div *ngFor="let project of experience.projects">
      <div>
        <div class="underline font-bold">Project {{ project.name }}</div>
        <ul class="list-disc pl-[1em]">
          <li><b> Description: </b>{{ project.description }}</li>
          <li><b> Technologies: </b>{{ project.technologies }}</li>
          <li><b> Responsibilities: </b>{{ project.responsibilities }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
